<p>
	<%= form_tag add_to_cart_path do %>
		<%= number_field_tag :product_id, product.id %>
		<%= number_field_tag :quantity, placeholder: "How many?" %>
		<%= submit_tag "Add to Cart", class: "btn btn-primary" %>
	<% end %>
</p>